body {
  margin:0;
  background-color:#eee;
}

/*divs*/
div.head {
  width: 100%;
  height: 14vw;

  font-size:14vw;

  background-color: #111;
}
div.navbar {
  position:relative;
  top:0.5vw;
  text-align:center;
  width:100%;
}
div.text {
  margin-left:16vw;
  background-color:#ccc;
  margin-right:16vw;
}
div.p2 {
  letter-spacing:0.1em;
  font-family:sans-serif;
  font-size:1.8em;
}
div.foot {
  height:2.65vw;
  width:100%;
  position:fixed;
  background-color:#9b9b9b;
  bottom:0;
  right:0;
  text-align:center;
  font-size:1.5vw;
  font-family:sans-serif;
  letter-spacing:4px;
  opacity:0.75;
  transition:linear 0.5s;
}
div.foot:hover{
  opacity:1;
}

/*paragraphs*/
span.title {
  margin-left: 10vw;

  font-size: 80%;
  font-family: sans-serif;
  letter-spacing: 0.5vw;

  color:#fff;
  cursor:default;
}
span.p3bold {
  font-weight:bold;
}
span.caption1 {
  font-family:monospace;
  font-size:2vw;
  color:#eee;
}
span.cookies {
  position:fixed;
  bottom:2.65vw;
  right:0;
  height:1.5vw;
  font-size:1.5vw;
  text-align:right;
  opacity:0.6;
  cursor:pointer;

  background: -webkit-linear-gradient(left, #ccc, #fff);
  background: -moz-linear-gradient(left, #ccc, #fff);

  background: linear-gradient(to-left, #ccc, #fff);
}
p.p1 {
  letter-spacing:0.2em;
  font-family:sans-serif;
  font-weight:600;
  font-size:2em;
}
p.p2 {
  letter-spacing:0.1em;
  font-family:sans-serif;
  font-size:1.8em;
}
p.p3 {
  font-family:sans-serif;
  font-size:1.6em;
}
p.p4 {
  font-size:1.6em;
  font-family:sans-serif;

}
p.caption {
  font-size:1em;
  margin-left:10vw;
  margin-right:20vw;
  margin-top:0;
  font-family:sans-serif;
}

/*images*/
img.im {
  height:10vw;
  width:10vw;
  margin-bottom:-1vw;
}
img.icon {
  position:relative;
  width:1em;
  height:1em;
}
img.imgfoot {
  position:fixed;
  bottom:0;
  left:0;
  height:2.65vw;
  width:2.65vw;
}

/*buttons*/
button.endbuttonl {
  height:3vw;
  width:9vw;
  font-size:1.5vw;
  border-radius:10px 0px 0px 10px;
  background-color:#999;
  margin:0;
  transition:linear 0.2s;
}
button.centerbutton {
  height:3vw;
  width:9vw;
  font-size:1.5vw;
  border-radius:0px 0px 0px 0px;
  background-color:#999;
  margin:0;
  transition:linear 0.2s;
}
button.endbuttonr {
  height:3vw;
  width:9vw;
  font-size:1.5vw;
  border-radius:0px 10px 10px 0px;
  background-color:#999;
  margin:0;
  transition:linear 0.2s;
}
button:hover {
  cursor:pointer;
  background-color:#888;
}
button:active {
  background:#999;
}
button:focus {
  outline:none;
}
iframe.iframe {
  width:60vw;
  height:30vw;
}

/*links*/
a.clicky {
  cursor:pointer;
  color:blue;
}
