body {
  margin:0;
  background-color:#eee;
}

/*divs*/
div.head {
  width: 100%;
  height: 180px; /*Make this dynamic*/
  
  font-size:180px;
  
  background-color: #111;
}
div.navbar {
  position:relative;
  top:6px;
  text-align:center;
  width:100%;
}
div.text {
  margin-left:16%;
  background-color:#ccc;
  margin-right:16%;
}
div.p2 {
  letter-spacing:0.1em;
  font-family:sans-serif;
  font-size:1.8em;
}
div.foot {
  height:40px;
  width:100%;
  position:fixed;
  background-color:#9b9b9b;
  bottom:0;
  right:0;
  text-align:center;
  font-size:20px;
  font-family:sans-serif;
  letter-spacing:4px;
  opacity:0.5;
  transition:linear 0.5s;
}
div.foot:hover{
  opacity:1;
}

/*paragraphs*/
span.title {
  margin-left: 10%;
  
  font-size: 80%;
  font-family: sans-serif;
  letter-spacing: 0.5vw;
  
  color:#fff;
  cursor:default;
}
span.p3bold {
  font-weight:700;
}
span.caption1 {
  font-family:monospace;
  font-size:0.2em;
  color:#eee;
}
p.p1 {
  letter-spacing:0.2em;
  font-family:sans-serif;
  font-weight:600;
  font-size:2em;
}
p.p2 {
  letter-spacing:0.1em;
  font-family:sans-serif;
  font-size:1.8em;
}
p.p3 {
  font-family:sans-serif;
  font-size:1.6em;
}
p.p4 {
  font-size:1.6em;
  font-family:sans-serif;
  
}
p.caption {
  font-size:1em;
  margin-left:10%;
  margin-right:20%;
  margin-top:0;
  font-family:sans-serif;
}

/*images*/
img.im {
  height:144px;
  width:144px;
  margin-bottom:-20px;
}
img.icon {
  position:relative;
  width:1em;
  height:1em;
}
img.imgfoot {
  position:fixed;
  bottom:0;
  left:0;
  height:40px;
  width:40px;
}

/*buttons*/
button.endbuttonl {
  height:30px;
  width:90px;
  font-size:20px;
  border-radius:10px 0px 0px 10px;
  background-color:#999; 
  margin:0;
  transition:linear 0.2s;
}
button.centerbutton {
  height:30px;
  width:90px;
  font-size:20px;
  border-radius:0px 0px 0px 0px;
  background-color:#999;
  margin:0; 
  transition:linear 0.2s;
}
button.endbuttonr {
  height:30px;
  width:90px;
  font-size:20px;
  border-radius:0px 10px 10px 0px;
  background-color:#999;
  margin:0;
  transition:linear 0.2s;
}
button:hover {
  cursor:pointer;
  background-color:#888;
}
button:active {
  background:#999;
}

/*links*/
a.clicky {
  cursor:pointer;
  color:blue;
}

/*fonts*/

@font-face {
  font-family:monofur55;
  src: url(monof55.ttf);
}
@font-face {
  font-family:monofur56;
  src: url(monof56.ttf);
}
