body {
  margin:0;
}

/*divs*/
div.head {
  width: 100%;
  height: 180px;
  
  font-size:180px;
  
  background-color: #111;
}
div.navbar {
  position:relative;
  top:6px;
  text-align:center;
  width:100%;
}
div.text {
  margin-left:6%;
  background-color:#ddd;
  margin-right:6%;
}
div.p2 {
  letter-spacing:0.1em;
  font-family:sans-serif;
  font-size:1.9em;
  font-weight:700;
}
div.foot {
  height:40px;
  width:100%;
  position:fixed;
  background-color:#9b9b9b;
  bottom:0;
  right:0;
  text-align:center;
  font-size:20px;
  font-family:sans-serif;
  letter-spacing:4px;
  opacity:0.7;
}

/*paragraphs*/
span.title {
  margin-left:2%;
  
  font-size:0.8em;
  font-family: sans-serif;
  letter-spacing: 0.5vw;
  
  color:#fff;
  cursor:default;
}
span.p3bold {
  font-weight:700;
}
span.caption1 {
  font-family:monospace;
  font-size:0.2em;
  color:#ddd;
  position:absolute;
}
p.p1 {
  letter-spacing:0.2em;
  font-family:sans-serif;
  font-weight:600;
  font-size:2.2em;
  
}
p.p2 {
  letter-spacing:0.1em;
  font-family:sans-serif;
  font-size:1.9em;
  font-weight:700;
}
p.p3 {
  font-family:sans-serif;
  font-size:1.8em;
}
p.p4 {
  font-size:1.8em;
  font-family:sans-serif;
}
p.caption {
  font-size:1em;
  font-family:sans-serif;
  margin-left:2.5%;
  margin-right:5%;
}

/*images*/
img.im {
  height:144px;
  width:144px;
  margin-bottom:-20px;
}
img.captioned {
  position:relative;
  height:0.2em;
  width:0.25em;
}
img.icon {
  position:relative;
  width:1em;
  height:1em;
}
img.imgfoot {
  position:fixed;
  bottom:0;
  left:0;
  height:40px;
  width:40px;
}
img.settings {
  position:fixed;
  bottom:3px;
  right:3px;
  height:34px;
  width:34px;
  cursor:pointer;
}

/*buttons*/
button.endbuttonl {
  height:55px;
  width:20%;
  font-size:40px;

  background:#999; 

  margin:0;
}
button.centerbutton {
  height:55px;
  width:20%;
  font-size:40px;

  background:#999;
  
  margin:0; 
}
button.endbuttonr {
  height:55px;
  width:20%;
  font-size:40px;

  background:#999;

  margin:0;
}
button:hover {
  background:#888;
  cursor:pointer;
}
button:active {
  background:#999;
}

/*links*/
a.clicky {
  color:blue;
  cursor:pointer;
}

@font-face {
  font-family:monofur55;
  src: url(monof55.ttf);
}
@font-face {
  font-family:monofur56;
  src: url(monof56.ttf);
}
