div.head {
  width: 100%;
  height: 180px; /*Make this dynamic*/
  
  font-size:180px;
  
  background-color: #111;
}
span.title {
  margin-left: 10%;
  
  font-size: 80%;
  font-family: sans-serif;
  letter-spacing: 6px;
  
  color:#fff;
}
body {
  margin:0;
}
img.im {
  height:144px;
  width:144px;
  margin-bottom:-20px;
}
div.foot {
  height:40px;
  width:100%;
  position:fixed;
  background-color:#9b9b9b;
  bottom:0;
  right:0;
  text-align:center;
  font-size:20px;
  font-family:sans-serif;
  letter-spacing:4px;
}
img.imgfoot {
  position:fixed;
  bottom:0;
  left:0;
  height:40px;
  width:40px;
}
