body {
  margin:0;
}

/*divs*/
div.head {
  width: 100%;
  height: 180px;
  
  font-size:180px;
  
  background-color: #111;
}
div.navbar {
  position:relative;
  top:6px;
  text-align:center;
  width:100%;
}
div.text {
  margin-left:6%;
  background-color:#ddd;
}
div.foot {
  height:40px;
  width:100%;
  position:fixed;
  background-color:#9b9b9b;
  bottom:0;
  right:0;
  text-align:center;
  font-size:20px;
  font-family:sans-serif;
  letter-spacing:4px;
}

/*paragraphs*/
span.title {
  margin-left: 10%;
  
  font-size: 80%;
  font-family: sans-serif;
  letter-spacing: 0.5vw;
  
  color:#fff;
  cursor:default;
}
p.p1 {
  letter-spacing:0.2em;
  font-family:sans-serif;
  font-weight:600;
  font-size:2em;
  
}
p.p2 {
  letter-spacing:0.1em;
  font-family:monofur;
  font-size:1.6em;
  font-weight:700;
}
p.p3 {
  font-family:sans-serif;
  font-size:1.6em;
}

/*images*/
img.im {
  height:144px;
  width:144px;
  margin-bottom:-20px;
}
img.imgfoot {
  position:fixed;
  bottom:0;
  left:0;
  height:40px;
  width:40px;
}

/*buttons*/
button.endbuttonl {
  height:55px;
  width:20%;
  font-size:40px;

  background:#999; 

  margin:0;
}
button.centerbutton {
  height:55px;
  width:20%;
  font-size:40px;

  background:#999;
  
  margin:0; 
}
button.endbuttonr {
  height:55px;
  width:20%;
  font-size:40px;

  background:#999;

  margin:0;
}
button:hover {
  background:#888;
  cursor:pointer;
}
button:active {
  background:#999;
}

/*links*/
a.clicky {
  color:blue;
  cursor:pointer;
}

@font-face {
  font-family:monofur;
  src: url(monof55.ttf);
}
